@import "constant.less";

.homepage{
    width: 100vw;
    min-height: 100vh;
    background-color: @titlePink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 5vw;
    .homepage-top{
        background-image: url("../asset/cloud.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
        height: 4em;
    }

    .homepage-mid{
        display: flex;
        flex-direction: column;
        min-width: 90%;
        .homepage-logo{
            background-image: url("../asset/logo.png");
            height: 10em;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .homepage-search-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .homepage-search{
                width: 75%;
            }
            .homepage-search-result{
                min-width: 75%;
                .homepage-search-list{
                    position: absolute;
                    width: 67.5%;
                    .homepage-search-item{
                        height: 3em;
                        text-indent: 2em;
                        background-color: white;
                        line-height: 3em;
                        transition: width 0.5s;
                    }
                    .homepage-search-item:hover{
                        background-color: @backgroundGrey;
                    }
                }
            }
        }
    }

    .homepage-bot{
        background-image: url("../asset/tree.png");
        height: 10em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }
}